/ABOUT-NLS
*~
ABOUT-NLS
aclocal.m4
autom4te.cache
build
ChangeLog
config.cache
config.guess
config.h
config.h.in
config.log
config.rpath
config.status
config.sub
configure
/gl/
/gnulib-tests/
/GNUmakefile
INSTALL
install-sh
link-warning.h
/maint.mk
Makefile
Makefile.in
patches
stamp-h1
.tarball-version
/tool-versions.txt
