/arg-nonnull.h
/ar-lib
/c++defs.h
/compile
/config.guess
/*~
/config.rpath
/config.sub
/depcomp
/gitlog-to-changelog
/install-sh
/link-warning.h
/Makefile.in
/mdate-sh
/missing
/mkinstalldirs
/snippet/
/test-driver
/texinfo.tex
/unused-parameter.h
/update-copyright
/useless-if-before-free
/vc-list-files
/warn-on-use.h
/ylwrap
