/Makefile
/Makefile.in
/mdate-sh
/find.aux
/find.cp
/find.cps
/find.fn
/find.fns
/find.html/
/find.info
/find.ky
/find.log
/find.pdf
/find.pg
/find.ps
/find.toc
/find.tp
/find.vr
/find-maint.html/
/find-maint.pdf
/find-maint.ps
/stamp-vti
/version.texi
/texinfo.tex
/getdate.texi
/versionmaint.texi
/stamp-1
/find-maint.info
/gpl-3.0.texi
/regexprops-generic.texi
/parse-datetime.texi
/dblocation.texi
/gendocs_template
/gendocs_template_min
