/buildcmd.o
/check-regexprops
/check-regexprops.log
/check-regexprops.trs
/.deps/
/dircallback.o
/extendbuf.o
/fdleak.o
/findutils-version.o
/forcefindlib.o
/gnulib-version.o
/libfind.a
/listfile.o
/Makefile
/Makefile.in
/nextelem.o
/printquoted.o
/qmark.o
/regexprops
/regexprops.o
/regexprops.texi.new
/regextype.o
/safe-atoi.o
/savedirinfo.o
/splitstring.o
/test_splitstring
/test_splitstring.log
/test_splitstring.o
/test_splitstring.trs
/test-suite.log
