/insert-header.sed
/*.gmo
/*.po
/.reference/
/LINGUAS
/Makefile
/Makefile.in
/Makefile.in.in
/Makevars
/Makevars.template
/POTFILES
/Rules-quot
/boldquot.sed
/cat-id-tbl.c
/en@boldquot.header
/en@quot.header
/findutils.pot
/insert-header.sin
/quot.sed
/remove-potcdate.sed
/remove-potcdate.sin
/stamp-po
